@model IEnumerable<EnxovalModel>
@{
    ViewData["Title"] = "Sala";
}

<div>
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <strong> <h1 class="display-4">ITENS PARA COMPRAR </h1>  </strong>
            <a class="btn btn-success" asp-controller="Sala" asp-action="AdicionarItem">
                <i class="fas fa-plus"></i> Cadastrar Item
            </a>
        </div>
    @if(Model != null && Model.Any())
    {
        <div class="row">
            @foreach (var item in Model)
            {
                @if(item.Comprado == false)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">@item.Name</h3>
                                <a asp-action="ItemComprado" class="btn btn-warning" asp-route-id="@item.Id">Comprado!</a>
                                <a asp-action="EditarConta" class="btn btn-warning" asp-route-id="@item.Id">Atualizar</a>
                                <a asp-action="ExcluirConta" class="btn btn-danger" asp-route-id="@item.Id">Excluir</a>
                            </div>
                        </div>
                    </div>
                   
                } 
                else{
                    <h1>ITENS COMPRADOS</h1>
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">@item.Name</h3>
                                    <p class="card-text">
                                        <strong>Comprado em:</strong> @item.DataDaCompra.ToString("dd/MM/yyyy")<br>
                                    </p>
                                    <a asp-action="EditarConta" class="btn btn-warning" asp-route-id="@item.Id">Atualizar</a>
                                    <a asp-action="ExcluirConta" class="btn btn-danger" asp-route-id="@item.Id">Excluir</a>
                                </div>
                            </div>
                        </div>
                }
            }
        </div>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            Não há compras para a sala no momento.
        </div>
    }
</>

<div>

</div>